<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">
    <b>Stagii de practica</b>
  </div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3 text-end"
      href="/practica"
      >Practica disponibila
    </a>
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3 text-end"
      href="/firme"
      >Firme</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3 text-end"
      href="/lista-stagii-elev"
      >Situatie stagii</a
    >
    <div class="sidebar-heading border-bottom bg-light"><b>Contul meu</b></div>

    <a
      class="list-group-item list-group-item-action list-group-item-light p-3 text-end"
      href="/profil"
      >Profilul de student</a
    >

    <div></div>
  </div>
</div>
