<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"> <b>Stagii de practica</b> </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-end" href="/creeare-practica">Creare stagiu de practica </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-end" href="/lista-practica">Liste cu stagii de practica create</a>
    <div class="sidebar-heading border-bottom bg-light"><b>Setari</b></div>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-end" href="/setari">Notificari</a>
    <div></div>
    </div>
</div>