<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"> <b>Monitorizare student</b> </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-end" href="/date-elevi">Studenti</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-end" href="/prezenta-elevi">Prezenta studenti</a>
    <div class="sidebar-heading border-bottom bg-light"><b>Setari</b></div>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-end" href="/setari">Notificari</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-end" href="/setari">Cod unic profesor</a>
    <div></div>
    </div>
</div>