<!DOCTYPE html>

<head>
  <%- include('./partials/head') %>
    <title>Practiker</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/t_index.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/login-page.css">
</head>

<body class="text-center">

  <div class="login-content-wrapper">
    <div class="login-content-container">
      <main class="form-signin">
        <form>
          <img class="mb-4" src="/img/practiker.png" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Creeaza stagiu de practica</h1>

          <div class="form-floating">

            <div class="checkbox mb-1">
              <label for="floatingPassword">Numele firmei</label>
              <input type="text" class="form-control" id="floatingInput" placeholder="Numele firmei">

            </div>
          </div>

          <div class="form-floating">

            <div class="checkbox mb-1">
              <label for="floatingPassword">Numar locuri disponibile</label>
              <input type="number" class="form-control" id="floatingInput" placeholder="Numar locuri disponibile">

            </div>
          </div>
          <div class="form-floating">

            <div class="checkbox mb-1">
              <label for="floatingPassword">Domeniu</label>
              <input type="text" class="form-control" id="floatingInput" placeholder="Domeniu">

            </div>
          </div>
          <div class="form-floating">
            <div class="checkbox mb-1">
              <label for="floatingPassword">Framework/Librarii</label>
              <input type="text" class="form-control" id="floatingInput" placeholder="Framework/Librarii ">

            </div>

          </div>

          <div class="form-floating">
            <div class="checkbox mb-1">
              <label for="floatingPassword">Ore de lucru</label>
              <input type="text" class="form-control" id="floatingInput"
                placeholder="Ore de lucru ore/zi zile/saptamana">

            </div>
          </div>

          <div class="form-floating">
            <div class="checkbox mb-1">
              <label for="floatingPassword">Data de incepere al stagiului de practica</label>
              <input type="date" class="form-control" id="floatingInput"
                placeholder="Data de incepere al stagiului de practica">

            </div>
            <div class="form-floating">
              <div class="checkbox mb-1">
                <label for="floatingPassword">Numar Saptamani</label>
                <input type="number" class="form-control" id="floatingInput"
                  placeholder="Data de incepere al stagiului de practica">

              </div>
            </div>




            <style>
              a:link {
                color: white;
                background-color: transparent;
                text-decoration: none;
              }

              a:visited {
                color: white;
                background-color: transparent;
                text-decoration: none;
              }
            </style>
            <button class="w-20 btn btn-lg btn-primary" type="submit">Adauga stagiu de practica</button>
            <button class="w-30 btn btn-lg btn-primary" type="submit"><a href="/reprezentant">Back</a></button>

        </form>
      </main>
    </div>
  </div>





</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</html>