<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Practiker</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/t_index.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <%- include('./partials/sidebar-reprezentant') %>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <%- include('./partials/navbar-reprezentant') %>
        <!-- Page content-->
        <div class="container-fluid">
          <h1 class="mt-4"></h1>
          <div class="divTable darkTable">
            <div class="divTableHeading">
              <div class="divTableRow">
                <div class="divTableHead" style="border-radius: 5px">
                  Titlu practica
                </div>
                <div class="divTableHead">facultatea de provinienta</div>
                <div class="divTableHead">Nume student</div>
                <div class="divTableHead">Prezenta</div>

                <div class="divTableHead" style="border-radius: 5px">
                  Nota finala
                </div>
              </div>
            </div>
            <div class="divTableBody">
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_1
                </div>
                <div class="divTableCell">cell2_1</div>
                <div class="divTableCell">cell3_1</div>
                <div class="divTableCell">cell4_1</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_1
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_2
                </div>
                <div class="divTableCell">cell2_2</div>
                <div class="divTableCell">cell3_2</div>
                <div class="divTableCell">cell4_2</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_2
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_3
                </div>
                <div class="divTableCell">cell2_3</div>
                <div class="divTableCell">cell3_3</div>
                <div class="divTableCell">cell4_3</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_3
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_4
                </div>
                <div class="divTableCell">cell2_4</div>
                <div class="divTableCell">cell3_4</div>
                <div class="divTableCell">cell4_4</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_4
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_5
                </div>
                <div class="divTableCell">cell2_5</div>
                <div class="divTableCell">cell3_5</div>
                <div class="divTableCell">cell4_5</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_5
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_6
                </div>
                <div class="divTableCell">cell2_6</div>
                <div class="divTableCell">cell3_6</div>
                <div class="divTableCell">cell4_6</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_6
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_7
                </div>
                <div class="divTableCell">cell2_7</div>
                <div class="divTableCell">cell3_7</div>
                <div class="divTableCell">cell4_7</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_7
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_8
                </div>
                <div class="divTableCell">cell2_8</div>
                <div class="divTableCell">cell3_8</div>
                <div class="divTableCell">cell4_8</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_8
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_9
                </div>
                <div class="divTableCell">cell2_9</div>
                <div class="divTableCell">cell3_9</div>
                <div class="divTableCell">cell4_9</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_9
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_10
                </div>
                <div class="divTableCell">cell2_10</div>
                <div class="divTableCell">cell3_10</div>
                <div class="divTableCell">cell4_10</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_10
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_11
                </div>
                <div class="divTableCell">cell2_11</div>
                <div class="divTableCell">cell3_11</div>
                <div class="divTableCell">cell4_11</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_11
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell" style="border-radius: 5px">
                  cell1_12
                </div>
                <div class="divTableCell">cell2_12</div>
                <div class="divTableCell">cell3_12</div>
                <div class="divTableCell">cell4_12</div>

                <div class="divTableCell" style="border-radius: 5px">
                  cell5_12
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- Core theme JS-->
    <script src="js/t_index.js"></script>
  </body>
</html>
