<!DOCTYPE html>
<html lang="en">
    <head>
         <%- include('./partials/head')  %> 
        <title>Practiker</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/t_index.css" rel="stylesheet" />
    </head>
    <body> 
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <%- include('./partials/sidebar')  %>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <%- include('./partials/navbar')  %>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4"></h1>
                <img class="mb-4" src="/img/practiker.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Completeaza campurile goale</h1>
        
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Nume">
                  <label for="floatingInput">Nume</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Prenume">
                    <label for="floatingInput">Prenume</label>
                  </div>

                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>

                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Facultatea de provenienta">
                    <label for="floatingInput">Facultatea de provenienta</label>
                  </div>

                  <div class="form-floating">
                    <style>texarea{
                        resize: none;
                    }</style>
                    <textarea name="Aptitudini" id="Aptitudini" cols="50" rows="4"></textarea>
                    <label for="Aptitudini">Aptitudini</label>
                  </div>
                  <div class="form-floating">
                    <label " for="floatingInput"> <style "position: relative;bottom: 5px;>Selectati un CV</style> </label>
                    <input type="file" class="form-control" id="myfile" name="myfile" placeholder="CV" >
                  </div>
                <button class="w-20 btn btn-lg btn-primary" type="submit">Salveaza modificarile</button>  
                   </p>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="js/t_index.js"></script>
    </body>
</html>
