<!DOCTYPE html>

<head>
    <%- include('./partials/head')  %> 
   <title>Practiker</title>
   <!-- Favicon-->
   <link rel="icon" type="image/x-icon" href="favicon.ico" />
   <!-- Core theme CSS (includes Bootstrap)-->
   <link href="css/t_index.css" rel="stylesheet" />
   <link rel="stylesheet" href="css/index.css">
   <link rel="stylesheet" href="/css/login-page.css">
</head>
<body class="text-center">
    
    <div class="login-content-wrapper">
        <div class="login-content-container">
            <main class="form-signin">
              <form>
                <img class="mb-4" src="/img/practiker.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Please register as </h1>
        

        
                <div class="checkbox mb-3">
                  
                </div>
                
                <style>
    a:link {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

                </style>
           <div class="checkbox mb-1">
                <button class="w-100 btn btn-lg btn-primary" type="button"><a  href="/register-reprezentanti">Creeaza un cont ca reprezentant</a></button>
               

             </div>
                <div class="checkbox mb-1">
                <button class="w-100 btn btn-lg btn-primary" type="button"><a  href="/register-profesori">Creeaza un cont ca profesor</a></button>
            </div>

               
                <div class="checkbox mb-1">
                <button class="w-100 btn btn-lg btn-primary" type="button"><a  href="/register-student">Creeaza un cont ca student</a></button>
            </div>
            
            <p>
                <a style="color: black;" href="/first-page">Intra in cont aici!</a>
            </p>
    
              </form>
            </main>
        </div>
    </div>
    
    
        
      
    
    </body>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>