body { /* color globals */ 
    --roz-inchis: #d20962;
    --portocaliu: #f47721;
    --verde: #7ac143;
    --verde-inchis: #00a78e;
    --albastru: #00bce4;
    --mov: #7d3f98;
    --gray-3: #52565e;
    --gray-2: #caccd1;
    --gray-1: #f3f4f7;
    
  }
body{
 
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #fafafa;
}
div.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  background-color: #ffffff;
  width: 100%;
  height: 700px;
  text-align: center;
}
.divTable.darkTable .divTableCell, .divTable.darkTable .divTableHead {
  padding: 3px 2px;
  border-radius: 5px;
 
  color: black;
}
.divTable.darkTable .divTableBody .divTableCell {
  font-size: 13px;
  font-family:"Exo",sans-serif;
  font-weight: 300;
  color: #2C2C2C;
   
 
}
.divTable.darkTable .divTableRow:nth-child(even) {
  background: #fafafa;
  
}
.divTable.darkTable .divTableHeading {
  background: #f9f9f9;
  color: #777777;
  
}
.divTable.darkTable .divTableHeading .divTableHead {
  font-size: 15x;
  font-weight:normal;
  font-family:"Exo",sans-serif;
  color: #2C2C2C;
  
}
.divTable.darkTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.darkTable .tableFootStyle {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
.darkTable .tableFootStyle {
  font-size: 12px;
}

.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

#rcorners1 {
  border-radius: 25px;
 
  padding: 20px;
  width: 200px;
  height: 150px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  border-radius: 5px; /* 5px rounded corners */

}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  justify-content: space-around;
}
.signinimage{
  height:auto;
  width: 100%;
}
.card2{
  margin-left:0;
  margin-right:300px;
  margin-top:250px;
  position: relative;
  width: auto;
  display:block;
}
.card-container { 
  display: flex ;
  justify-content: flex-start;
  flex-flow: row wrap;
 }